body {
  margin: 10px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.table {
  width: 500px
}
#pm10_header {
  width: 200px
}
.filter-element {
  width: 177px;
  margin-bottom: 10px;
}
.radio-group {
  position: relative;
  margin-bottom: 10px;
}
.town-matches {
  margin-top: 10px;
  padding-left: 0;
  list-style: none;
}
.town-option:hover {
  color: blue;
  cursor: pointer;
}